<% provide(:class_text, 'user-edit') %>
<% provide(:button_text, '編集') %>
<h1>プロフィール編集</h1>
<div id="left_gravatar">
<%= gravatar_for @user %>
<%= link_to "画像の変更", "https://wordpress.com/start/wpcc/oauth2-user?ref=oauth2&oauth2_redirect=https%3A%2F%2Fpublic-api.wordpress.com%2Foauth2%2Fauthorize%2F%3Fclient_id%3D1854%26response_type%3Dcode%26blog_id%3D0%26state%3D5c4f7c7ba7879e81100f9d6e97ba02bf3c2df0248a2ff6af1bd26e49153da332%26redirect_uri%3Dhttps%253A%252F%252Fen.gravatar.com%252Fconnect%252F%253Faction%253Drequest_access_token%26jetpack-code%26jetpack-user-id%3D0%26action%3Doauth2-login&oauth2_client_id=1854", class:"btn btn-warning btnsetting" %>
<p>※画像を変更されていない方は、<br>画像の変更を押した先のサイトでアカウントを作成し画像を変更してください。</p>
</div>
<div>
<%= render 'edit_form', user: @user %>
</div>