@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.9em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 17px;
    font-weight: bold;
    padding-bottom: 15px;
  }
  #logo:hover {
    color: #fff;
    text-decoration: none;
  }
/* top */
#title {
  text-align: left;
}

#left_box {
  float: left;
  width: 60%;
}
#right_box {
  float: right;
  width: 40%;
}
.jumbotron {
   background-color: #fff;
}
#left_check_box {
  float: left;
}
#right_check_box {
  float: right;
}
#action {
  margin-top: 20px
}
.text-button{
  font-size:0.75em;
  display:block;
  width:100px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
  border:2px solid;
  border-color:#aaaaaa #444444 #444444 #aaaaaa;
  background:orange;
}
.maintext { 
    text-align:center;
    font-size:20px;
}
.textbox-line{
  border: 2px solid #0a0;
}
.kousin {
        overflow:auto;
        width:700px; height:200px;
        padding:5px;
        border:2px dotted #ffffff;
        color:black;
        background-color:pink;
        line-height:1.5em;
    }

.th-text {
text-align: center;
}
.btn-square-so-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;/*線色*/
}
