@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.9em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 17px;
    font-weight: bold;
    padding-bottom: 15px;
  }
  #logo:hover {
    color: #fff;
    text-decoration: none;
  }
/* top */
#title {
  text-align: left;
}

#left_box {
  float: left;
  width: 60%;
}
#right_box {
  float: right;
  width: 40%;
}
.jumbotron {
   background-color: #fff;
}
#left_check_box {
  float: left;
}
#right_check_box {
  float: right;
}
#action {
  margin-top: 20px
}
.gravatar {
  width: 100%;
}

.gravatar_edit {
  margin-top: 15px;
}
#left_gravatar {
  width: 25%;
  float: left;
}
#right_form {
  float: right;
  width: 60%;
}

.btnsetting {
  margin-top: 30px;
  width: 100%;
}

.header_gravatar {
  width: 50px;
}

.box_imege {
  display: block;
  margin-left: 20px;
}
.text-button{
  font-size:0.75em;
  display:block;
  width:100px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
  border:2px solid;
  border-color:#aaaaaa #444444 #444444 #aaaaaa;
  background:orange;
}
.maintext {
    text-align: center;
    font-size:20px;
    margin-top:10px;
}
.maintext2 {
    text-align: left;
    font-size:25px;
    margin-top:10px;
}
.textbox-line{
  border: 2px solid #0a0;
}
.kousin {
        overflow:auto;
        width:700px; height:100px;
        padding:5px;
        border:2px dotted #ffffff;
        color:black;
        line-height:1.5em;
}
.kousin2 {
        overflow:auto;
        width:100%;
        padding:5px;
        border:2px dotted #ffffff;
        color:black;
        line-height:1.5em;
        text-align:center;
}

#file {
  display: none;
}

.input-default {
  display: none;
}

.btn-square-so-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  width: 107px;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;/*線色*/
}
.table-back{
  background-color: #FFEEFF;  /* 背景色指定 */
  border-color: black
}
.table-back th {
	background: pink;
	border-color: black;
}
.table-back td {
	border: 1px solid #eee;
	border-color: black;
}
.table-back tr:nth-child(even) {
	background:  pink;
}
.table-back2{
  background-color: #99FFFF;  /* 背景色指定 */
  border-color: black
}
.table-back2 th {
	background: #00FFFF;
	border-color: black;
}
.table-back2 td {
	border: 1px solid #eee;
	border-color: black;
}
.table-back2 tr:nth-child(even) {
	background:  #00FFFF;
}
.btn-square-shadow {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.row-height {
    display: flex;
    flex-wrap: wrap;
}
.acstyle{
  text-align: center;
}