// Place all the styles related to the researches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin: auto;
}

.bulk_registration-btn {
  float: right;
 }

.text-search-japan {
  margin: 50px 10px 50px 10px;
}

.text-search-china {
  margin: 50px 10px 50px 0px;
}

.research-btn-color{
  margin-top: 50px;
}

.money-label {
  margin: 5px;
}

.btn-block {
  margin: 9px 20px 10px 0px;
}

a:visited {
  color: #337ab7;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a {
  color: #000;
}

.img-url {
  overflow-wrap : break-word;
  #text-align:center;
  vertical-align: middle;
}

.img-url2 {
  font-size: 12px;
  font-weight: inherit;
}

#th-while {
   background-color: white;
   border: 0;
 }

#td-while {
  background-color: white;
  border: 0;
}

.table-design {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle !important;
}

.td-size {
  overflow-wrap : break-word;
  text-align: center;
  vertical-align: middle;
}

.pagination {
  margin: 15px;
}

.row {
  margin: auto;
}

.url-over {
  overflow-wrap : break-word;
  text-align:center;
  vertical-align: middle;
  font-size: 10px;
}

.title-height {
  overflow: hidden;
  height: 140px;
  font-size: 11px;
  line-height: 1.0;
}

