// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inventory_table {
  margin-left: 100px;
  overflow-y: scroll;
  height: 400px;
  padding-bottom: 480px;
}

.sale_table {
  float: right;
  width: 50%;
  margin-top: 50px;
  margin-right: 100px;
}
.inventory_csv_output_btn {
  float: left;
  width: 25%;
  margin-top:52px;
  margin-left:50px;
  font-weight: bold;
}