// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inventory_table {
  overflow-y: scroll;
  height: 400px;
}

.sale_table {
  float: right;
  width: 70%;
  margin-top: 20px;
}
.inventory_csv_output_btn {
  float: left;
  width: 25%;
  margin-top: 100px;
}
.reserch_btn{
  float: right;
}
.reserch_btn_btn{
  width: 100px;
}
.reserch_p{
  margin-right: 10px
}